doctype html
html 
 head 
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Detail page 
  link(rel='stylesheet' href='/apartmentdetail.css')
  script(src="https://js.stripe.com/v3/")

 body
   include _header
   div.container 
   button(id='pic-tour') show all photos
   div.media 
    
    img(src=`/uploads/${info.pic1.filename}` alt='First Image')
    img(src=`/uploads/${info.pic2.filename}` alt='Second Image')
    video(controls)
     source(src=`/uploads/${info.video.filename}` type='video/mp4')
     Your browser does not support the video tag
  

   div.details
    table 
     tr 
      th Details 
     tr
      th Location 
      td= info.location 
     tr 
      th Price 
      td GH#{info.price} 
     tr 
      th Property Category  
      td= info.property_title 
     tr 
      th Description 
      td= info.description 
     tr 
      th Landlords's Contact 
      td= info.telephone 
     tr 
      th Email 
      td= info.email 

     tr 
      th 
       if delta 
        button(id='delete' onclick='delets()') DELETE APARTMENT
       else if user
       else 
        button.book(id='booker' data-apartment-id=`${info.id}`) BOOK APARTMENT

    

    







 


   script(src='/js/index.js' type='module') 
   script(src='/js/stripe.js' type='module')
  
    
    
    

      
             
     